@using System.Text.RegularExpressions
@model IEnumerable<News24.Web.ViewModels.StartViewModels.ArticleViewModel>

@{
    ViewBag.Title = "Поиск";
}

<div class="container">
    @foreach (var item in Model)
    {
        <div class="row pb-4">
            <div class="col-md-5">
                <div class="fh5co_hover_news_img">
                    <div class="fh5co_news_img">
                        <img class="img-fluid " src="data:image/jpeg;base64, @Convert.ToBase64String(item.MainImage)" alt="@item.Head" />
                    </div>
                    <div></div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="">@Html.ActionLink(item.Head, "Details", "Start", new { id = item.ArticleId }, new { @class = "fh5co_magna py-2" })</div>

                <a href="#" class="fh5co_mini_time py-3">
                    @item.User.FirstName  @item.User.LastName -
                    @item.PublicationDate
                </a>
                <div class="fh5co_consectetur">
                    @(Regex.Replace(item.Body.Substring(0, item.Body.Length > 500 ? 500 : item.Body.Length), @"<[^>]*>", String.Empty))
                    ...
                </div>

            </div>
        </div>
    }
</div>